---
swagger: "2.0"
info:
  description: "This is a sample representation of the Product Catalog T-Open API\
    \ V2, which is used by applications to obtain information about the list of products\
    \ that can be offered to customers as well as to obtain information about the\
    \ relationship and possible bundles to offer different products together"
  version: "2.5.0"
  title: "Product Catalog Management - DRAFT VERSION"
host: "apis.telefonica.com"
basePath: "/ri/productCatalog/v2"
tags:
- name: "offerings"
- name: "products"
- name: "categories"
schemes:
- "https"
paths:
  /offerings:
    get:
      tags:
      - "offerings"
      summary: "Retrieve a list of offerings"
      operationId: "getOfferings"
      produces:
      - "application/json"
      parameters:
      - name: UNICA-ServiceId
        in: header
        description: If this API is used via a platform acting as a common entry point to different OBs, this identifier is used to route the request to the corresponding OB environment
        required: false
        type: string
      - name: UNICA-Application
        in: header
        description: Identifier for the system originating the request
        required: false
        type: string
      - name: UNICA-User
        in: header
        description: Identificador del usuario del sistema y/o subsistema que inicia la petición
        required: false
        type: string
      - name: UNICA-Timestamp
        in: header
        description: Es la fecha y hora al momento de invocar al servicio por el consumidor
        required: false
        type: string
      - name: Authorization
        in: header
        description: Including the proof of access (using OAuth2.0 security model) to guarantee that the consumer has privileges to access the entity database
        required: false
        type: string
      - name: "type"
        in: "query"
        description: "Indica el tipo de oferta a obtener \
                \ Puede tomar dos valores: elegibles ,  sugeridas"
        required: false
        type: "string"
        enum:
        - "elegibles"
        - "sugeridas"
      - name: "correlationId"
        in: "query"
        description: "To obtain the list of offerings matching to a given id in the\
          \ other side mapping to the offeringId (to synchronize client and server\
          \ identifiers) "
        required: false
        type: "string"
      - name: "name"
        in: "query"
        description: "to obtain the list of offerings associated with a given name "
        required: false
        type: "string"
      - name: "isBundle"
        in: "query"
        description: "to obtain the list of offerings that are either single offering\
          \ or bundle of a set of single offerings"
        required: false
        type: "boolean"
      - name: "lifeCycleStatus"
        in: "query"
        description: "To obtain offerings with a specific status"
        required: false
        type: "string"
        enum:
        - "draft"
        - "active"
        - "expired"
      - name: "category.id"
        in: "query"
        description: "To obtain the list of offerings belonging to a given category\
          \ referenced by an id "
        required: false
        type: "string"
      - name: "category.name"
        in: "query"
        description: "To obtain the list of offerings belonging to a given category\
          \ referenced by name"
        required: false
        type: "string"
      - name: "subcategory.id"
        in: "query"
        description: "To obtain the list of offerings belonging to a given subcategory\
          \ (second or greater levelcategory) referenced by an id "
        required: false
        type: "string"
      - name: "subcategory.name"
        in: "query"
        description: "To obtain the list of offerings belonging to a given subcategory\
          \ (second or greater levelcategory) referenced by name"
        required: false
        type: "string"
      - name: "channel.id"
        in: "query"
        description: "To obtain the list of offerings belonging to a given channel\
          \ referenced by id "
        required: false
        type: "string"
      - name: "channel.name"
        in: "query"
        description: "To obtain the list of offerings belonging to a given channel\
          \ referenced by name"
        required: false
        type: "string"
      - name: "productSpecification.id"
        in: "query"
        description: "to obtain the list of offerings that include a given product\
          \ specification (identified by id) within the list of composing products"
        required: false
        type: "string"
      - name: "productSpecification.name"
        in: "query"
        description: "to obtain the list of offerings that include a given product\
          \ specification (identified by name) within the list of composing products"
        required: false
        type: "string"
      - name: "frameworkAgreeementId"
        in: "query"
        description: "to obtain the list of offerings that are part of a given framework\
          \ agreement"
        required: false
        type: "string"
      - name: "customerId"
        in: "query"
        description: "to obtain the list of offerings that are targeted to an specific\
          \ customer"
        required: false
        type: "string"
      - name: "accountId"
        in: "query"
        description: "to obtain the list of offerings that are targeted to an specific\
          \ account"
        required: false
        type: "string"
      - name: "product.type"
        in: "query"
        description: "to obtain the list of offerings that are targeted to an specific\
          \ instantiated product in the inventory for an specific product type"
        required: false
        type: "string"
      - name: "product.id"
        in: "query"
        description: "to obtain the list of offerings that are targeted to an specific\
          \ instantiated product in the inventory for an specific product identified\
          \ with the internal id used by the server. This is typically used together\
          \ with product.type"
        required: false
        type: "string"
      - name: "product.publicId"
        in: "query"
        description: "to obtain the list of offerings that are targeted to an specific\
          \ instantiated product in the inventory for an specific product identified\
          \ with the public number associated to the product (e.g.: use of an msisdn\
          \ to refer to a subscription to a mobileline product). This is typically\
          \ used together with product.type"
        required: false
        type: "string"
      - name: "startDate"
        in: "query"
        description: "To obtain the offerings that can be offered after this value"
        required: false
        type: "string"
        format: "date-time"
      - name: "endDate"
        in: "query"
        description: "To obtain offerings that can be offered before this value"
        required: false
        type: "string"
        format: "date-time"
      - name: "limit"
        in: "query"
        description: "To limit the amount of results"
        required: false
        type: "string"
      - name: "offset"
        in: "query"
        description: "To get the results starting from an offset value. Use for pagination"
        required: false
        type: "string"
      - name: "productOfferingPrice.price.units"
        in: "query"
        description: "To retrieve offerings with prices returned in a specific currency"
        required: false
        type: "string"
      - name: "productOfferingPrice.currencyChangeDate"
        in: "query"
        description: "To retrieve offerings with prices applying the change rate of\
          \ a specific past date"
        required: false
        type: "string"
        format: "date-time"
      - name: "productOfferingPrice.startPriceDate"
        in: "query"
        description: "To retrieve offerings with prices that are valid after this\
          \ date"
        required: false
        type: "string"
        format: "date-time"
      - name: "productOfferingPrice.endPriceDate"
        in: "query"
        description: "To retrieve offerings with prices that are valid before this\
          \ date"
        required: false
        type: "string"
        format: "date-time"
      - name: "productOfferingPrice.priceConsumer.entityType"
        in: "query"
        description: "To retrieve offerings with prices of the item when bought by\
          \ a specific consumer e.g.: Buying a VM from Brazil (type=OB) or purchasing\
          \ a plan by a VIP customer (type=customer)"
        required: false
        type: "string"
      - name: "productOfferingPrice.priceConsumer.id"
        in: "query"
        description: "To retrieve offerings with prices of the item when bought by\
          \ a specific consumer e.g.: Buying a VM from Brazil (id=BR) or purchasing\
          \ a plan by a VIP customer (id=CustomerId)."
        required: false
        type: "string"
      - name: "productOfferingPrice.priceLocation"
        in: "query"
        description: "To retrieve offerings with prices of the item in a specific\
          \ region e.g.: a VM deployed in USA."
        required: false
        type: "string"
      - name: "productOfferingPrice.startPriceAmout"
        in: "query"
        description: "Es el precio del rango inicial de la oferta"
        required: false
        type: "number"
      - name: "productOfferingPrice.endPriceAmout"
        in: "query"
        description: "Es el precio del rango final de la oferta"
        required: false
        type: "number"        
      - name: "fields"
        in: "query"
        description: "To define the information elements expected in the response"
        required: false
        type: "string"
      - name: "creditScore"
        in: "query"
        description: "To filter offers that can be offered to a user with a credit\
          \ score equal or greater to the one sent in this parameter. Credit Score\
          \ is a measure of the creditworthiness calculated on the basis of a combination\
          \ of factors such as their income and credit history."
        required: false
        type: "integer"
      - name: "creditLimit"
        in: "query"
        description: "To filter offers that can be offered to a user with a credit\
          \ limit equal or greater to the one sent in this parameter. Credit Limit\
          \ is the maximum amount of money that may be charged on the customer's accounts\
          \ and local currency is assumed"
        required: false
        type: "number"
        format: "decimal"
      - name: "siteId"
        in: "query"
        description: "To filter offers that can be offered to a user in a certain\
          \ site or store"
        required: false
        type: "string"
      - name: "region"
        in: "query"
        description: "To filter offers that can be offered to a user in a site or\
          \ store in a certain region"
        required: false
        type: "string"
      - name: "stateOrProvince"
        in: "query"
        description: "To filter offers that can be offered to a user in a certain\
          \ site or store in a state or province"
        required: false
        type: "string"
      - name: "customer.segment"
        in: "query"
        description: "To filter offers that can be offered to a certain customer segment"
        required: false
        type: "string"
      - name: "customer.subsegment"
        in: "query"
        description: "To filter offers that can be offered to a certain customer segment"
        required: false
        type: "string"
      - name: "isPortability"
        in: "query"
        description: "To filter offers that can be offered only for new customers\
          \ coming from other operators (in case is set to true) or only for existing\
          \ customers or fresh new customers (in case it is false)"
        required: false
        type: "boolean"
      - name: "portabilityCurrentPlanType"
        in: "query"
        description: "Current plan type of the potential customer in external operator\
          \ (only when isPortability=true)"
        required: false
        type: "string"
        enum:
        - "prepaid"
        - "postpaid"
      - name: "portabilityCustomerSince"
        in: "query"
        description: "Date since the potential customer is with his current company.\
          \ Used to filter offers depending on customer eagerness to churn. Use only\
          \ when isPortability=true"
        required: false
        type: "string"
        format: "date"
      - name: "portabilityCurrentCompany"
        in: "query"
        description: "Current company of the potential customer. Use only when isPortability=true"
        required: false
        type: "string"
      - name: "dealerId"
        in: "query"
        description: "Dealer ID, in case this sale is being performed by a third party\
          \ and not directly by Telef?nica."
        required: false
        type: "string"
      - name: "broadband.minDlDataRate"
        in: "query"
        description: "To query offers that include broadband products with a minimum\
          \ download rate measured in mbps."
        required: false
        type: "integer"
      - name: "broadband.maxDlDataRate"
        in: "query"
        description: "To query offers that include broadband products with a maximum\
          \ download rate measured in mbps."
        required: false
        type: "integer"
      - name: "broadband.connection"
        in: "query"
        description: "To query offers that include broadband products with a certain\
          \ connection type."
        required: false
        type: "string"
        enum:
        - "fiber"
        - "dsl"
      - name: "isRetention"
        in: "query"
        description: "To filter offers that can be offered only for customers willing\
          \ to churn to avoid so (in case is set to true) or for the rest (in case\
          \ it is false)"
        required: false
        type: "boolean"
      - name: "productOfferingCatalogId"
        in: "query"
        description: "Campo que permite buscar por id de ofertas.\
          \ Este campo puede buscar por varias ofertas separadas por comas ','."
        required: false
        type: "string"        
      - name: "currentOffering"
        in: "query"
        description: "Current offering Id. This offering is the one the user has currently\
          \ instantiated and is to be replaced by any of the offerings returned by\
          \ this operation"
        required: false
        type: "string"
      - name: "isUpgrade"
        in: "query"
        description: "currentOffering must be filled too if this query parameter is\
          \ used. To filter offers that are more expensive (upsell, isUpgrade=true)\
          \ or cheaper or the same (downsell, isUpgrade=false) than the customer's\
          \ current offering"
        required: false
        type: "boolean"
      - name: "action"
        in: "query"
        description: "Filters offerings that are suitable to a certain action"
        required: false
        type: "string"
        enum:
        - "newSubscriber"
        - "offeringChange"
        - "additionalServices"
      - name: "commercialAreaId"
        in: "query"
        description: "Filters offerings that can be offered in a certain commercial\
          \ area"
        required: false
        type: "string"
      - name: "productOrder.id"
        in: "query"
        description: "Es el id de la orden"
        required: false
        type: "string"
      - name: "plan.id"
        in: "query"
        description: "Es le id del plan"
        required: false
        type: "string"
      - name: "product"
        in: "query"
        description: "Es el tipo de plan del producto"
        required: false
        type: "string"
      - name: "sourceType"
        in: "query"
        description: "Tipo de fuente, puede ser OFERTA, DISPOSITIVO"
        required: false
        type: "string"
      - name: "networkTechnology"
        in: "query"
        description: "Información para el serviceability"
        required: false
        type: "string"
      - name: "serviceability.maxSpeed"
        in: "query"
        description: "Información para el serviceability"
        required: false
        type: "string"
      - name: "serviceability.id"
        in: "query"
        description: "Información para el serviceability"
        required: false
        type: "string"
      - name: "plan.group"
        in: "query"
        description: "Es el grupo del plan"
        required: false
        type: "string"
      - name: "plan.rankInitial"
        in: "query"
        description: "Es el plan rank inicial"
        required: false
        type: "string"
      - name: "plan.rank"
        in: "query"
        description: "Es el plan rank de la oferta"
        required: false
        type: "string"
      - name: "plan.commitmentDuration"
        in: "query"
        description: "Es la duración del comprmiso del plan"
        required: false
        type: "string"
      - name: "invoiceCompany"
        in: "query"
        description: "Nombre de la compañía a filtrar"
        required: false
        type: "string"
      - name: "orderSubType"
        in: "query"
        description: "Es el subtipo de acción:\ 
            \ RO: Replace Offer\
            \ CAPL: Cambio de Plan\
            \ CAEQ: Cambio de equipo\
            \ Este campo sera envia por el forntend"
        required: false
        type: "string"
      - name: "subscriberGroupValue"
        in: "query"
        description: "Grupo valor del suscriptor"
        required: false
        type: "string"
      - name: "excludeOffersId"
        in: "query"        
        description: "Campo que me permite excluir ofertas de la lista de resultado.\
                    \ Es campo puede recibir mas de un id separado por ','"
        required: false
        type: "string"
      - name: "installationAddress.department"
        in: "query"
        description: "Código de departamento de instalación incluido callao.\
                      \ Se utliza para obtener ofertas Fijas o Movistar Total \
                      \ Puede tomar los valores 'ALL', '1','2',……'25' "
        required: false        
        type: "string"    
      - name: "nationalID"
        in: "query"
        required: false        
        type: "string"  
      - name: "nationalIDType"
        in: "query"
        required: false        
        type: "string"                    
      - name: "paginationInfo.size"
        in: "query"
        description: "Grupo valor del suscriptor"
        required: false
        type: "integer"
      - name: "paginationInfo.pageCount"
        in: "query"
        description: "Número de artículos en la página."
        required: false
        type: "integer"
      - name: "paginationInfo.page"
        in: "query"
        description: "Numero maximo de paginas"
        required: false
        type: "integer"
      - name: "paginationInfo.maxResultCount"
        in: "query"
        description: "Numero maximo de resultados"
        required: false
        type: "integer"
      - name: "sortCriteria.name"
        in: "query"
        description: "Nombre de una propiedad que se utilizará para ordenar."
        required: false
        type: "string"
      - name: "sortCriteria.ascending"
        in: "query"
        description: "Indica si esto es ascendente o descendente."
        required: false
        type: "boolean"                        
      responses:
        200:
          description: "Offerings retrieved successfully"
          schema:
            $ref: '#/definitions/ResponseType'            
          headers:
            UNICA-ServiceId:
              type: string
              description: Poblar con el valor del UNICA-ServiceId del request
            UNICA-Timestamp:
              type: string
              description: Poblar con la hora de salida  desde el backend            
            X-Total-Count:
              type: "integer"
              description: "Total results"
    post:
      tags:
      - "offerings"
      summary: "Create a new offering"
      operationId: "createOffering"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "offeringCreate"
        description: "New offering"
        required: true
        schema:
          $ref: "#/definitions/OfferingRequestType"
      - name: "UNICA-ServiceId"
        in: "header"
        description: "If this API is used via a platform acting as a common entry\
          \ point to different OBs, this identifier is used to route the request to\
          \ the corresponding OB environment"
        required: false
        type: "string"
      - name: "UNICA-Application"
        in: "header"
        description: "Identifier for the system originating the request"
        required: false
        type: "string"
      responses:
        201:
          description: "Offering created successfully"
          schema:
            $ref: "#/definitions/OfferingType"
          headers:
            Location:
              type: "string"
              description: "Location where to query the created offering"
              x-required: true
    put:
      tags:
      - "offerings"
      summary: "Modify all offerings"
      operationId: "updateOfferingCatalog"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "offeringCatalogUpdate"
        description: "Data for the catalog update"
        required: true
        schema:
          $ref: "#/definitions/OfferingCatalogUpdateType"
      - name: "UNICA-ServiceId"
        in: "header"
        description: "If this API is used via a platform acting as a common entry\
          \ point to different OBs, this identifier is used to route the request to\
          \ the corresponding OB environment"
        required: false
        type: "string"
      - name: "UNICA-Application"
        in: "header"
        description: "Identifier for the system originating the request"
        required: false
        type: "string"
      responses:
        200:
          description: "Offerings modified successfully"
        204:
          description: "Offerings modified successfully"
  /offerings/{offeringId}:
    get:
      tags:
      - "offerings"
      summary: "Retrieve an offering"
      operationId: "retrieveOfferingDetails"
      produces:
      - "application/json"
      parameters:
      - name: "offeringId"
        in: "path"
        description: "ID of the offering that needs to be fetched"
        required: true
        type: "string"
      - name: "UNICA-ServiceId"
        in: "header"
        description: "If this API is used via a platform acting as a common entry\
          \ point to different OBs, this identifier is used to route the request to\
          \ the corresponding OB environment"
        required: false
        type: "string"
      - name: "UNICA-Application"
        in: "header"
        description: "Identifier for the system originating the request"
        required: false
        type: "string"
      - name: "fields"
        in: "query"
        description: "To define the information elements expected in the response"
        required: false
        type: "string"
      responses:
        200:
          description: "Offering retrieved successfully"
          schema:
            $ref: "#/definitions/OfferingType"
    put:
      tags:
      - "offerings"
      summary: "Modify an offering"
      operationId: "modifyOffering"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "offeringId"
        in: "path"
        description: "ID of the offering that needs to be modified"
        required: true
        type: "string"
      - in: "body"
        name: "offeringCreate"
        description: "Data for the offering modification"
        required: true
        schema:
          $ref: "#/definitions/OfferingRequestType"
      - name: "UNICA-ServiceId"
        in: "header"
        description: "If this API is used via a platform acting as a common entry\
          \ point to different OBs, this identifier is used to route the request to\
          \ the corresponding OB environment"
        required: false
        type: "string"
      - name: "UNICA-Application"
        in: "header"
        description: "Identifier for the system originating the request"
        required: false
        type: "string"
      responses:
        200:
          description: "No response was specified"
  /offerings/{offeringId}/prices:
    get:
      tags:
      - "offerings"
      summary: "Retrieve prices of an offering"
      operationId: "retrieveOfferingPrices"
      produces:
      - "application/json"
      parameters:
      - name: "offeringId"
        in: "path"
        description: "ID of the offering that needs to be fetched"
        required: true
        type: "string"
      - name: "UNICA-ServiceId"
        in: "header"
        description: "If this API is used via a platform acting as a common entry\
          \ point to different OBs, this identifier is used to route the request to\
          \ the corresponding OB environment"
        required: false
        type: "string"
      - name: "UNICA-Application"
        in: "header"
        description: "Identifier for the system originating the request"
        required: false
        type: "string"
      - name: "startPriceDate"
        in: "query"
        description: "To retrieve prices that are valid after this date"
        required: false
        type: "string"
        format: "date-time"
      - name: "endPriceDate"
        in: "query"
        description: "To retrieve prices that are valid before this date"
        required: false
        type: "string"
        format: "date-time"
      - name: "price.units"
        in: "query"
        description: "To retrieve prices in a specific currency"
        required: false
        type: "string"
      - name: "currencyChangeDate"
        in: "query"
        description: "To retrieve prices applying the change of a specific past date"
        required: false
        type: "string"
        format: "date-time"
      - name: "priceLocation"
        in: "query"
        description: "To retrieve prices of the item in a specific region e.g.: a\
          \ VM deployed in USA."
        required: false
        type: "string"
      - name: "priceConsumer.entityType"
        in: "query"
        description: "To retrieve prices of the item when bought by a specific consumer\
          \ e.g.: Buying a VM from Brazil (type=OB) or purchasing a plan by a VIP\
          \ customer (type=customer)"
        required: false
        type: "string"
      - name: "priceConsumer.id"
        in: "query"
        description: "To retrieve prices of the item when bought by a specific consumer\
          \ e.g.: Buying a VM from Brazil (id=BR) or purchasing a plan by a VIP customer\
          \ (id=CustomerId)."
        required: false
        type: "string"
      - name: "fields"
        in: "query"
        description: "To define the information elements expected in the response"
        required: false
        type: "string"
      responses:
        200:
          description: "Prices retrieved successfully"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/ComponentProdOfferPriceType"
  /products:
    get:
      tags:
      - "products"
      summary: "Retrieve a list of products"
      operationId: "getProducts"
      produces:
      - "application/json"
      parameters:
      - name: "UNICA-ServiceId"
        in: "header"
        description: "If this API is used via a platform acting as a common entry\
          \ point to different OBs, this identifier is used to route the request to\
          \ the corresponding OB environment"
        required: false
        type: "string"
      - name: "UNICA-Application"
        in: "header"
        description: "Identifier for the system originating the request"
        required: false
        type: "string"
      - name: "correlationId"
        in: "query"
        description: "To obtain the list of products matching to a given id in the\
          \ other side mapping to the productId (to synchronize client and server\
          \ identifiers) "
        required: false
        type: "string"
      - name: "name"
        in: "query"
        description: "to obtain the list of products associated with a given name "
        required: false
        type: "string"
      - name: "isBundle"
        in: "query"
        description: "to obtain the list of products that are either single product\
          \ or bundle of a set of single products"
        required: false
        type: "boolean"
      - name: "lifeCycleStatus"
        in: "query"
        description: "To obtain products with a specific status"
        required: false
        type: "string"
        enum:
        - "draft"
        - "active"
        - "expired"
      - name: "category.id"
        in: "query"
        description: "To obtain the list of products belonging to a given class referenced\
          \ by an id "
        required: false
        type: "string"
      - name: "category.name"
        in: "query"
        description: "To obtain the list of offerings belonging to a given class referenced\
          \ by name"
        required: false
        type: "string"
      - name: "brand"
        in: "query"
        description: "To obtain the list of products that are served by the same provider"
        required: false
        type: "string"
      - name: "productNumber"
        in: "query"
        description: "To obtain the list of products that are assigned a given commercial\
          \ code by the provider"
        required: false
        type: "string"
      - name: "relatedProduct.id"
        in: "query"
        description: "To obtain the list of products that are related to an specific\
          \ product in the catalog"
        required: false
        type: "string"
      - name: "startDate"
        in: "query"
        description: "To obtain the offerings that can be offered after this value"
        required: false
        type: "string"
        format: "date-time"
      - name: "endDate"
        in: "query"
        description: "To obtain offerings that can be offered before this value"
        required: false
        type: "string"
        format: "date-time"
      - name: "limit"
        in: "query"
        description: "To limit the amount of results"
        required: false
        type: "string"
      - name: "offset"
        in: "query"
        description: "To get the results starting from an offset value. Use for pagination"
        required: false
        type: "string"
      - name: "fields"
        in: "query"
        description: "To define the information elements expected in the response"
        required: false
        type: "string"
      responses:
        200:
          description: "Products retrieved successfully"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/ProductSpecificationType"
          headers:
            X-Total-Count:
              type: "integer"
              description: "Total results"
    post:
      tags:
      - "products"
      summary: "Create a new product"
      operationId: "createProduct"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "productCreate"
        description: "New product in catalog"
        required: true
        schema:
          $ref: "#/definitions/ProductRequestType"
      - name: "UNICA-ServiceId"
        in: "header"
        description: "If this API is used via a platform acting as a common entry\
          \ point to different OBs, this identifier is used to route the request to\
          \ the corresponding OB environment"
        required: false
        type: "string"
      - name: "UNICA-Application"
        in: "header"
        description: "Identifier for the system originating the request"
        required: false
        type: "string"
      responses:
        201:
          description: "Product created successfully"
          schema:
            $ref: "#/definitions/ProductSpecificationType"
          headers:
            Location:
              type: "string"
              description: "Location where to query the created offering"
              x-required: true
    put:
      tags:
      - "products"
      summary: "Modify all products"
      operationId: "updateCatalog"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "productCatalogUpdate"
        description: "Data for the product update"
        required: true
        schema:
          $ref: "#/definitions/ProductCatalogUpdateType"
      - name: "UNICA-ServiceId"
        in: "header"
        description: "If this API is used via a platform acting as a common entry\
          \ point to different OBs, this identifier is used to route the request to\
          \ the corresponding OB environment"
        required: false
        type: "string"
      - name: "UNICA-Application"
        in: "header"
        description: "Identifier for the system originating the request"
        required: false
        type: "string"
      responses:
        200:
          description: "Products modified successfully"
        204:
          description: "Products modified successfully"
  /products/{productId}:
    get:
      tags:
      - "products"
      summary: "Retrieve a product"
      operationId: "retrieveProductInformation"
      produces:
      - "application/json"
      parameters:
      - name: "productId"
        in: "path"
        description: "ID of the product that needs to be fetched"
        required: true
        type: "string"
      - name: "UNICA-ServiceId"
        in: "header"
        description: "If this API is used via a platform acting as a common entry\
          \ point to different OBs, this identifier is used to route the request to\
          \ the corresponding OB environment"
        required: false
        type: "string"
      - name: "UNICA-Application"
        in: "header"
        description: "Identifier for the system originating the request"
        required: false
        type: "string"
      - name: "fields"
        in: "query"
        description: "To define the information elements expected in the response"
        required: false
        type: "string"
      responses:
        200:
          description: "Product retrieved successfully"
          schema:
            $ref: "#/definitions/ProductSpecificationType"
    put:
      tags:
      - "products"
      summary: "Modify a product"
      operationId: "modifyProduct"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "productId"
        in: "path"
        description: "ID of the product that needs to be modified"
        required: true
        type: "string"
      - name: "UNICA-ServiceId"
        in: "header"
        description: "If this API is used via a platform acting as a common entry\
          \ point to different OBs, this identifier is used to route the request to\
          \ the corresponding OB environment"
        required: false
        type: "string"
      - name: "UNICA-Application"
        in: "header"
        description: "Identifier for the system originating the request"
        required: false
        type: "string"
      - in: "body"
        name: "productCreate"
        description: "Data for the product modification"
        required: true
        schema:
          $ref: "#/definitions/ProductRequestType"
      responses:
        200:
          description: "Product modified successfully"
        204:
          description: "Product modified successfully"
  /categories:
    get:
      tags:
      - "categories"
      summary: "Retrieve a list of categories"
      operationId: "getCategories"
      produces:
      - "application/json"
      parameters:
      - name: "UNICA-ServiceId"
        in: "header"
        description: "If this API is used via a platform acting as a common entry\
          \ point to different OBs, this identifier is used to route the request to\
          \ the corresponding OB environment"
        required: false
        type: "string"
      - name: "UNICA-Application"
        in: "header"
        description: "Identifier for the system originating the request"
        required: false
        type: "string"
      - name: "correlationId"
        in: "query"
        description: "To obtain the list of products matching to a given id in the\
          \ other side mapping to the productId (to synchronize client and server\
          \ identifiers) "
        required: false
        type: "string"
      - name: "name"
        in: "query"
        description: "to obtain the list of categories associated with a given name"
        required: false
        type: "string"
      - name: "startDate"
        in: "query"
        description: "To obtain the categories that can be offered after this value"
        required: false
        type: "string"
        format: "date-time"
      - name: "endDate"
        in: "query"
        description: "To obtain categories that can be offered before this value"
        required: false
        type: "string"
        format: "date-time"
      - name: "limit"
        in: "query"
        description: "To limit the amount of results"
        required: false
        type: "string"
      - name: "offset"
        in: "query"
        description: "To get the results starting from an offset value. Use for pagination"
        required: false
        type: "string"
      - name: "fields"
        in: "query"
        description: "To define the information elements expected in the response"
        required: false
        type: "string"
      responses:
        200:
          description: "Categories retrieved successfully"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/CategoryType"
          headers:
            X-Total-Count:
              type: "integer"
              description: "Total results"
    post:
      tags:
      - "categories"
      summary: "Create a new category"
      operationId: "createCategory"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "category"
        description: "New category in catalog"
        required: true
        schema:
          $ref: "#/definitions/CategoryRequestType"
      - name: "UNICA-ServiceId"
        in: "header"
        description: "If this API is used via a platform acting as a common entry\
          \ point to different OBs, this identifier is used to route the request to\
          \ the corresponding OB environment"
        required: false
        type: "string"
      - name: "UNICA-Application"
        in: "header"
        description: "Identifier for the system originating the request"
        required: false
        type: "string"
      responses:
        201:
          description: "Category created successfully"
          schema:
            $ref: "#/definitions/CategoryType"
          headers:
            Location:
              type: "string"
              description: "Location where to query the created category"
              x-required: true
  /categories/{categoryId}:
    get:
      tags:
      - "categories"
      summary: "Retrieve a category"
      operationId: "retrieveCategory"
      produces:
      - "application/json"
      parameters:
      - name: "categoryId"
        in: "path"
        description: "ID of the category that needs to be fetched"
        required: true
        type: "string"
      - name: "UNICA-ServiceId"
        in: "header"
        description: "If this API is used via a platform acting as a common entry\
          \ point to different OBs, this identifier is used to route the request to\
          \ the corresponding OB environment"
        required: false
        type: "string"
      - name: "UNICA-Application"
        in: "header"
        description: "Identifier for the system originating the request"
        required: false
        type: "string"
      - name: "fields"
        in: "query"
        description: "To define the information elements expected in the response"
        required: false
        type: "string"
      responses:
        200:
          description: "Category retrieved successfully"
          schema:
            $ref: "#/definitions/CategoryType"
    put:
      tags:
      - "categories"
      summary: "Modify category"
      operationId: "updateCategory"
      produces:
      - "application/json"
      parameters:
      - name: "categoryId"
        in: "path"
        description: "ID of the category that needs to be fetched"
        required: true
        type: "string"
      - in: "body"
        name: "category"
        description: "Data for the category update"
        required: true
        schema:
          $ref: "#/definitions/CategoryRequestType"
      - name: "UNICA-ServiceId"
        in: "header"
        description: "If this API is used via a platform acting as a common entry\
          \ point to different OBs, this identifier is used to route the request to\
          \ the corresponding OB environment"
        required: false
        type: "string"
      - name: "UNICA-Application"
        in: "header"
        description: "Identifier for the system originating the request"
        required: false
        type: "string"
      responses:
        200:
          description: "Category modified successfully"
    delete:
      tags:
      - "categories"
      summary: "Delete category"
      description: "This operation deletes a category. It is up to the implementation\
        \ if this should also delete children categories or products or not."
      operationId: "deleteCategory"
      parameters:
      - name: "categoryId"
        in: "path"
        description: "ID of the category that needs to be fetched"
        required: true
        type: "string"
      - name: "UNICA-ServiceId"
        in: "header"
        description: "If this API is used via a platform acting as a common entry\
          \ point to different OBs, this identifier is used to route the request to\
          \ the corresponding OB environment"
        required: false
        type: "string"
      - name: "UNICA-Application"
        in: "header"
        description: "Identifier for the system originating the request"
        required: false
        type: "string"
      responses:
        204:
          description: "Category deleted successfully"
  /categories/{categoryId}/tree:
    get:
      tags:
      - "categories"
      summary: "Retrieve a category tree"
      description: "This operation is mainly intended to render on screen in apps\
        \ or webs a category tree"
      operationId: "retrieveCategoryTree"
      produces:
      - "application/json"
      parameters:
      - name: "categoryId"
        in: "path"
        description: "ID of the category we want the tree to begin from. If the user\
          \ needs the whole tree starting from all roots a hyphen (/categories/-/tree)\
          \ could be used. Otherwise, an id should be provided and the tree that will\
          \ be returned will be the one from that node downwards."
        required: true
        type: "string"
      - name: "UNICA-ServiceId"
        in: "header"
        description: "If this API is used via a platform acting as a common entry\
          \ point to different OBs, this identifier is used to route the request to\
          \ the corresponding OB environment"
        required: false
        type: "string"
      - name: "UNICA-Application"
        in: "header"
        description: "Identifier for the system originating the request"
        required: false
        type: "string"
      responses:
        200:
          description: "Category tree retrieved successfully"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/CategoryTreeRefType"
definitions:
  ResponseType:
     properties:      
      offerings:
        type: array
        description: ""
        items:
          $ref: '#/definitions/OfferingType'
      paginationInfo:
        description: ""
        $ref: '#/definitions/PaginationInfoType'
  CategoryRequestType:
    properties:
      name:
        type: "string"
        description: "Category name"
      description:
        type: "string"
        description: "Category description"
      lastUpdate:
        type: "string"
        format: "date-time"
        description: "Date when the last update was performed"
      lifecycleStatus:
        type: "string"
        description: "Category current status"
      validFor:
        description: "Period of time the category is valid"
        $ref: "#/definitions/TimePeriodType"
      isRoot:
        type: "boolean"
        description: "True if the category is the root of the category tree. False\
          \ otherwise"
      parentId:
        type: "string"
        description: "Id of the parent category"
      parentHref:
        type: "string"
        description: "href of the parent category"
    example:
      parentHref: "parentHref"
      lifecycleStatus: "lifecycleStatus"
      isRoot: true
      validFor:
        startDateTime: "2000-01-23T04:56:07.000+00:00"
        endDateTime: "2000-01-23T04:56:07.000+00:00"
      lastUpdate: "2000-01-23T04:56:07.000+00:00"
      name: "name"
      description: "description"
      parentId: "parentId"
  CategoryType:
    allOf:
    - type: "object"
      properties:
        id:
          type: "string"
          description: "Unique identifier of the category"
        href:
          type: "string"
          description: "URI where to query or perform actions on the category"
    - $ref: "#/definitions/CategoryRequestType"
    - type: "object"
      properties:
        children:
          type: "array"
          description: "References to the children categories"
          items:
            $ref: "#/definitions/CategoryRefType"
  CategoryRefType:
    properties:
      id:
        type: "string"
        description: "Unique identifier of the category"
      href:
        type: "string"
        description: "URI where to query or perform actions on the category"
      name:
        type: "string"
        description: "Category name"
  CategoryTreeRefType:
    allOf:
    - $ref: "#/definitions/CategoryRefType"
    - type: "object"
      properties:
        children:
          type: "array"
          description: "Children of the current node"
          items:
            $ref: "#/definitions/CategoryTreeRefType"
  OfferingRequestType:
    required:
    - "name"
    properties:
      correlationId:
        type: "string"
        description: "Unique identifier for the offering within the client, used to\
          \ synchronize and map internal identifiers between server and client"
      name:
        type: "string"
        description: "A human readable offering name"
      description:
        type: "string"
        description: "A human readable offering short description"
      category:
        type: "array"
        description: "List of categories/subcategories allocated to the offering,\
          \ intended to allow segmentation. A product offering may belong to more\
          \ than one category/subcategory. Each service may define its own categories\
          \ and levels in the tree"
        items:
          $ref: "#/definitions/CategoryTreeType"
      isPromotion:
        type: "boolean"
        description: "Indicates if the offering is a promotion"
      billingMethod:
        type: "string"
        description: "How this offered product is billed"
        enum:
        - "prepaid"
        - "postpaid"
        - "control"
        - "hybrid"
      channel:
        type: "array"
        description: "Defines the channels that can be used for selling the product\
          \ offering (e.g.: WEB, CRM, SMS, IVR, UE)"
        items:
          $ref: "#/definitions/ChannelInfoType"
      frameworkAgreement:
        type: "string"
        description: "Unique identifier of the framework agreement associated to the\
          \ offering"
      customerId:
        type: "string"
        description: "Unique Identifier for the customer that is the specific target\
          \ to the offering"
      isBundle:
        type: "boolean"
        description: "Indicates if the offering is a bundle of other offerings (true)\
          \ or it is a single offering for a bundle of multiple products (false)"
      offeringUrl:
        type: "string"
        description: "A URL that can provide additional information of the offer (e.g.:\
          \ weblink with a downloadable description brochure)"
      validFor:
        description: "The validity for the product in the catalog. If not included,\
          \ the current date is used as starting date and no ending date is defined"
        $ref: "#/definitions/TimePeriodType"
      bundledProductOffering:
        type: "array"
        description: "List of codes and URIs providing the resource address for the\
          \ individual offerings included in the bundle offering"
        items:
          $ref: "#/definitions/ComposingOfferingType"
      productSpecification:
        type: "array"
        description: "List of codes and URIs providing the resource address for the\
          \ products included in the offering. If the offer is for a single product\
          \ (isBundle set to false) then the list will have one single entry"
        items:
          $ref: "#/definitions/ComposingProductType"
      productOfferingPrice:
        type: "array"
        description: "List of price models available for the offering"
        items:
          $ref: "#/definitions/ComponentProdOfferPriceType"
      lifeCycleStatus:
        type: "string"
        description: "Status to be set for the offering within the catalog"
        enum:
        - "draft"
        - "active"
        - "expired"
      offeringPenalties:
        type: "array"
        description: "List of penalties that can be applied to the product offering"
        items:
          $ref: "#/definitions/PenaltyType"
      additionalData:
        type: "array"
        description: "Any additional metadata that may be needed to define the entity\
          \ (implementation and application specific). It is recommended not to make\
          \ use of this information element, this extension capability will be removed\
          \ from UNICA design guidelines"
        items:
          $ref: "#/definitions/KeyValueType"
    example:
      isBundle: true
      productSpecification:
      - minCardinality: 5
        periodDuration: "periodDuration"
        defaultCardinality: 2
        name: "name"
        id: "id"
        href: "href"
        refinedProduct:
          subProducts:
          - null
          - null
          productCharacteristics:
          - validFor:
              startDateTime: "2000-01-23T04:56:07.000+00:00"
              endDateTime: "2000-01-23T04:56:07.000+00:00"
            valueType: "integer"
            name: "name"
            description: "description"
            id: "id"
          - validFor:
              startDateTime: "2000-01-23T04:56:07.000+00:00"
              endDateTime: "2000-01-23T04:56:07.000+00:00"
            valueType: "integer"
            name: "name"
            description: "description"
            id: "id"
        productType: "mobile"
        maxCardinality: 5
        productPrice:
        - taxIncluded: true
          unitOfMeasure:
            amount: 7.061401241503109105224211816675961017608642578125
            maximum: 9.301444243932575517419536481611430644989013671875
            units: "units"
            minimum: 3.61607674925191080461672754609026014804840087890625
          validFor:
            startDateTime: "2000-01-23T04:56:07.000+00:00"
            endDateTime: "2000-01-23T04:56:07.000+00:00"
          priceType: "recurring"
          description: "description"
          pricedComponents:
          - value: "value"
            key: "key"
          - value: "value"
            key: "key"
          taxRate: 4.1456080298839363962315474054776132106781005859375
          priceLocation:
          - "priceLocation"
          - "priceLocation"
          price:
            amount: 2.027123023002321833274663731572218239307403564453125
            units: "units"
          minPrice:
            amount: 2.027123023002321833274663731572218239307403564453125
            units: "units"
          name: "name"
          productOfferPriceAlteration:
          - applicationDuration: 7
            unitOfMeasure:
              amount: 7.061401241503109105224211816675961017608642578125
              maximum: 9.301444243932575517419536481611430644989013671875
              units: "units"
              minimum: 3.61607674925191080461672754609026014804840087890625
            priceCondition: "priceCondition"
            price:
              amount: 2.027123023002321833274663731572218239307403564453125
              units: "units"
            name: "name"
            priceType: "recurring discount"
            description: "description"
            discountType: "amount"
            id: "id"
            additionalData:
            - amount: 2.027123023002321833274663731572218239307403564453125
              units: "units"
            - amount: 2.027123023002321833274663731572218239307403564453125
              units: "units"
            recurringChargePeriod: "daily"
          - applicationDuration: 7
            unitOfMeasure:
              amount: 7.061401241503109105224211816675961017608642578125
              maximum: 9.301444243932575517419536481611430644989013671875
              units: "units"
              minimum: 3.61607674925191080461672754609026014804840087890625
            priceCondition: "priceCondition"
            price:
              amount: 2.027123023002321833274663731572218239307403564453125
              units: "units"
            name: "name"
            priceType: "recurring discount"
            description: "description"
            discountType: "amount"
            id: "id"
            additionalData:
            - amount: 2.027123023002321833274663731572218239307403564453125
              units: "units"
            - amount: 2.027123023002321833274663731572218239307403564453125
              units: "units"
            recurringChargePeriod: "daily"
          priceConsumer:
            role: "role"
            validFor:
              startDateTime: "2000-01-23T04:56:07.000+00:00"
              endDateTime: "2000-01-23T04:56:07.000+00:00"
            entityType: "entityType"
            name: "name"
            description: "description"
            id: "id"
            href: "href"
          id: "id"
          maxPrice:
            amount: 2.027123023002321833274663731572218239307403564453125
            units: "units"
          additionalData:
          - value: "value"
            key: "key"
          - value: "value"
            key: "key"
          recurringChargePeriod: "daily"
          isMandatory: true
          taxType: "taxType"
        - taxIncluded: true
          unitOfMeasure:
            amount: 7.061401241503109105224211816675961017608642578125
            maximum: 9.301444243932575517419536481611430644989013671875
            units: "units"
            minimum: 3.61607674925191080461672754609026014804840087890625
          validFor:
            startDateTime: "2000-01-23T04:56:07.000+00:00"
            endDateTime: "2000-01-23T04:56:07.000+00:00"
          priceType: "recurring"
          description: "description"
          pricedComponents:
          - value: "value"
            key: "key"
          - value: "value"
            key: "key"
          taxRate: 4.1456080298839363962315474054776132106781005859375
          priceLocation:
          - "priceLocation"
          - "priceLocation"
          price:
            amount: 2.027123023002321833274663731572218239307403564453125
            units: "units"
          minPrice:
            amount: 2.027123023002321833274663731572218239307403564453125
            units: "units"
          name: "name"
          productOfferPriceAlteration:
          - applicationDuration: 7
            unitOfMeasure:
              amount: 7.061401241503109105224211816675961017608642578125
              maximum: 9.301444243932575517419536481611430644989013671875
              units: "units"
              minimum: 3.61607674925191080461672754609026014804840087890625
            priceCondition: "priceCondition"
            price:
              amount: 2.027123023002321833274663731572218239307403564453125
              units: "units"
            name: "name"
            priceType: "recurring discount"
            description: "description"
            discountType: "amount"
            id: "id"
            additionalData:
            - amount: 2.027123023002321833274663731572218239307403564453125
              units: "units"
            - amount: 2.027123023002321833274663731572218239307403564453125
              units: "units"
            recurringChargePeriod: "daily"
          - applicationDuration: 7
            unitOfMeasure:
              amount: 7.061401241503109105224211816675961017608642578125
              maximum: 9.301444243932575517419536481611430644989013671875
              units: "units"
              minimum: 3.61607674925191080461672754609026014804840087890625
            priceCondition: "priceCondition"
            price:
              amount: 2.027123023002321833274663731572218239307403564453125
              units: "units"
            name: "name"
            priceType: "recurring discount"
            description: "description"
            discountType: "amount"
            id: "id"
            additionalData:
            - amount: 2.027123023002321833274663731572218239307403564453125
              units: "units"
            - amount: 2.027123023002321833274663731572218239307403564453125
              units: "units"
            recurringChargePeriod: "daily"
          priceConsumer:
            role: "role"
            validFor:
              startDateTime: "2000-01-23T04:56:07.000+00:00"
              endDateTime: "2000-01-23T04:56:07.000+00:00"
            entityType: "entityType"
            name: "name"
            description: "description"
            id: "id"
            href: "href"
          id: "id"
          maxPrice:
            amount: 2.027123023002321833274663731572218239307403564453125
            units: "units"
          additionalData:
          - value: "value"
            key: "key"
          - value: "value"
            key: "key"
          recurringChargePeriod: "daily"
          isMandatory: true
          taxType: "taxType"
        tags:
        - "tags"
        - "tags"
      - minCardinality: 5
        periodDuration: "periodDuration"
        defaultCardinality: 2
        name: "name"
        id: "id"
        href: "href"
        refinedProduct:
          subProducts:
          - null
          - null
          productCharacteristics:
          - validFor:
              startDateTime: "2000-01-23T04:56:07.000+00:00"
              endDateTime: "2000-01-23T04:56:07.000+00:00"
            valueType: "integer"
            name: "name"
            description: "description"
            id: "id"
          - validFor:
              startDateTime: "2000-01-23T04:56:07.000+00:00"
              endDateTime: "2000-01-23T04:56:07.000+00:00"
            valueType: "integer"
            name: "name"
            description: "description"
            id: "id"
        productType: "mobile"
        maxCardinality: 5
        productPrice:
        - taxIncluded: true
          unitOfMeasure:
            amount: 7.061401241503109105224211816675961017608642578125
            maximum: 9.301444243932575517419536481611430644989013671875
            units: "units"
            minimum: 3.61607674925191080461672754609026014804840087890625
          validFor:
            startDateTime: "2000-01-23T04:56:07.000+00:00"
            endDateTime: "2000-01-23T04:56:07.000+00:00"
          priceType: "recurring"
          description: "description"
          pricedComponents:
          - value: "value"
            key: "key"
          - value: "value"
            key: "key"
          taxRate: 4.1456080298839363962315474054776132106781005859375
          priceLocation:
          - "priceLocation"
          - "priceLocation"
          price:
            amount: 2.027123023002321833274663731572218239307403564453125
            units: "units"
          minPrice:
            amount: 2.027123023002321833274663731572218239307403564453125
            units: "units"
          name: "name"
          productOfferPriceAlteration:
          - applicationDuration: 7
            unitOfMeasure:
              amount: 7.061401241503109105224211816675961017608642578125
              maximum: 9.301444243932575517419536481611430644989013671875
              units: "units"
              minimum: 3.61607674925191080461672754609026014804840087890625
            priceCondition: "priceCondition"
            price:
              amount: 2.027123023002321833274663731572218239307403564453125
              units: "units"
            name: "name"
            priceType: "recurring discount"
            description: "description"
            discountType: "amount"
            id: "id"
            additionalData:
            - amount: 2.027123023002321833274663731572218239307403564453125
              units: "units"
            - amount: 2.027123023002321833274663731572218239307403564453125
              units: "units"
            recurringChargePeriod: "daily"
          - applicationDuration: 7
            unitOfMeasure:
              amount: 7.061401241503109105224211816675961017608642578125
              maximum: 9.301444243932575517419536481611430644989013671875
              units: "units"
              minimum: 3.61607674925191080461672754609026014804840087890625
            priceCondition: "priceCondition"
            price:
              amount: 2.027123023002321833274663731572218239307403564453125
              units: "units"
            name: "name"
            priceType: "recurring discount"
            description: "description"
            discountType: "amount"
            id: "id"
            additionalData:
            - amount: 2.027123023002321833274663731572218239307403564453125
              units: "units"
            - amount: 2.027123023002321833274663731572218239307403564453125
              units: "units"
            recurringChargePeriod: "daily"
          priceConsumer:
            role: "role"
            validFor:
              startDateTime: "2000-01-23T04:56:07.000+00:00"
              endDateTime: "2000-01-23T04:56:07.000+00:00"
            entityType: "entityType"
            name: "name"
            description: "description"
            id: "id"
            href: "href"
          id: "id"
          maxPrice:
            amount: 2.027123023002321833274663731572218239307403564453125
            units: "units"
          additionalData:
          - value: "value"
            key: "key"
          - value: "value"
            key: "key"
          recurringChargePeriod: "daily"
          isMandatory: true
          taxType: "taxType"
        - taxIncluded: true
          unitOfMeasure:
            amount: 7.061401241503109105224211816675961017608642578125
            maximum: 9.301444243932575517419536481611430644989013671875
            units: "units"
            minimum: 3.61607674925191080461672754609026014804840087890625
          validFor:
            startDateTime: "2000-01-23T04:56:07.000+00:00"
            endDateTime: "2000-01-23T04:56:07.000+00:00"
          priceType: "recurring"
          description: "description"
          pricedComponents:
          - value: "value"
            key: "key"
          - value: "value"
            key: "key"
          taxRate: 4.1456080298839363962315474054776132106781005859375
          priceLocation:
          - "priceLocation"
          - "priceLocation"
          price:
            amount: 2.027123023002321833274663731572218239307403564453125
            units: "units"
          minPrice:
            amount: 2.027123023002321833274663731572218239307403564453125
            units: "units"
          name: "name"
          productOfferPriceAlteration:
          - applicationDuration: 7
            unitOfMeasure:
              amount: 7.061401241503109105224211816675961017608642578125
              maximum: 9.301444243932575517419536481611430644989013671875
              units: "units"
              minimum: 3.61607674925191080461672754609026014804840087890625
            priceCondition: "priceCondition"
            price:
              amount: 2.027123023002321833274663731572218239307403564453125
              units: "units"
            name: "name"
            priceType: "recurring discount"
            description: "description"
            discountType: "amount"
            id: "id"
            additionalData:
            - amount: 2.027123023002321833274663731572218239307403564453125
              units: "units"
            - amount: 2.027123023002321833274663731572218239307403564453125
              units: "units"
            recurringChargePeriod: "daily"
          - applicationDuration: 7
            unitOfMeasure:
              amount: 7.061401241503109105224211816675961017608642578125
              maximum: 9.301444243932575517419536481611430644989013671875
              units: "units"
              minimum: 3.61607674925191080461672754609026014804840087890625
            priceCondition: "priceCondition"
            price:
              amount: 2.027123023002321833274663731572218239307403564453125
              units: "units"
            name: "name"
            priceType: "recurring discount"
            description: "description"
            discountType: "amount"
            id: "id"
            additionalData:
            - amount: 2.027123023002321833274663731572218239307403564453125
              units: "units"
            - amount: 2.027123023002321833274663731572218239307403564453125
              units: "units"
            recurringChargePeriod: "daily"
          priceConsumer:
            role: "role"
            validFor:
              startDateTime: "2000-01-23T04:56:07.000+00:00"
              endDateTime: "2000-01-23T04:56:07.000+00:00"
            entityType: "entityType"
            name: "name"
            description: "description"
            id: "id"
            href: "href"
          id: "id"
          maxPrice:
            amount: 2.027123023002321833274663731572218239307403564453125
            units: "units"
          additionalData:
          - value: "value"
            key: "key"
          - value: "value"
            key: "key"
          recurringChargePeriod: "daily"
          isMandatory: true
          taxType: "taxType"
        tags:
        - "tags"
        - "tags"
      isPromotion: true
      validFor:
        startDateTime: "2000-01-23T04:56:07.000+00:00"
        endDateTime: "2000-01-23T04:56:07.000+00:00"
      frameworkAgreement: "frameworkAgreement"
      billingMethod: "prepaid"
      channel:
      - name: "name"
        id: "id"
        href: "href"
      - name: "name"
        id: "id"
        href: "href"
      description: "description"
      productOfferingPrice:
      - taxIncluded: true
        unitOfMeasure:
          amount: 7.061401241503109105224211816675961017608642578125
          maximum: 9.301444243932575517419536481611430644989013671875
          units: "units"
          minimum: 3.61607674925191080461672754609026014804840087890625
        validFor:
          startDateTime: "2000-01-23T04:56:07.000+00:00"
          endDateTime: "2000-01-23T04:56:07.000+00:00"
        priceType: "recurring"
        description: "description"
        pricedComponents:
        - value: "value"
          key: "key"
        - value: "value"
          key: "key"
        taxRate: 4.1456080298839363962315474054776132106781005859375
        priceLocation:
        - "priceLocation"
        - "priceLocation"
        price:
          amount: 2.027123023002321833274663731572218239307403564453125
          units: "units"
        minPrice:
          amount: 2.027123023002321833274663731572218239307403564453125
          units: "units"
        name: "name"
        productOfferPriceAlteration:
        - applicationDuration: 7
          unitOfMeasure:
            amount: 7.061401241503109105224211816675961017608642578125
            maximum: 9.301444243932575517419536481611430644989013671875
            units: "units"
            minimum: 3.61607674925191080461672754609026014804840087890625
          priceCondition: "priceCondition"
          price:
            amount: 2.027123023002321833274663731572218239307403564453125
            units: "units"
          name: "name"
          priceType: "recurring discount"
          description: "description"
          discountType: "amount"
          id: "id"
          additionalData:
          - amount: 2.027123023002321833274663731572218239307403564453125
            units: "units"
          - amount: 2.027123023002321833274663731572218239307403564453125
            units: "units"
          recurringChargePeriod: "daily"
        - applicationDuration: 7
          unitOfMeasure:
            amount: 7.061401241503109105224211816675961017608642578125
            maximum: 9.301444243932575517419536481611430644989013671875
            units: "units"
            minimum: 3.61607674925191080461672754609026014804840087890625
          priceCondition: "priceCondition"
          price:
            amount: 2.027123023002321833274663731572218239307403564453125
            units: "units"
          name: "name"
          priceType: "recurring discount"
          description: "description"
          discountType: "amount"
          id: "id"
          additionalData:
          - amount: 2.027123023002321833274663731572218239307403564453125
            units: "units"
          - amount: 2.027123023002321833274663731572218239307403564453125
            units: "units"
          recurringChargePeriod: "daily"
        priceConsumer:
          role: "role"
          validFor:
            startDateTime: "2000-01-23T04:56:07.000+00:00"
            endDateTime: "2000-01-23T04:56:07.000+00:00"
          entityType: "entityType"
          name: "name"
          description: "description"
          id: "id"
          href: "href"
        id: "id"
        maxPrice:
          amount: 2.027123023002321833274663731572218239307403564453125
          units: "units"
        additionalData:
        - value: "value"
          key: "key"
        - value: "value"
          key: "key"
        recurringChargePeriod: "daily"
        isMandatory: true
        taxType: "taxType"
      - taxIncluded: true
        unitOfMeasure:
          amount: 7.061401241503109105224211816675961017608642578125
          maximum: 9.301444243932575517419536481611430644989013671875
          units: "units"
          minimum: 3.61607674925191080461672754609026014804840087890625
        validFor:
          startDateTime: "2000-01-23T04:56:07.000+00:00"
          endDateTime: "2000-01-23T04:56:07.000+00:00"
        priceType: "recurring"
        description: "description"
        pricedComponents:
        - value: "value"
          key: "key"
        - value: "value"
          key: "key"
        taxRate: 4.1456080298839363962315474054776132106781005859375
        priceLocation:
        - "priceLocation"
        - "priceLocation"
        price:
          amount: 2.027123023002321833274663731572218239307403564453125
          units: "units"
        minPrice:
          amount: 2.027123023002321833274663731572218239307403564453125
          units: "units"
        name: "name"
        productOfferPriceAlteration:
        - applicationDuration: 7
          unitOfMeasure:
            amount: 7.061401241503109105224211816675961017608642578125
            maximum: 9.301444243932575517419536481611430644989013671875
            units: "units"
            minimum: 3.61607674925191080461672754609026014804840087890625
          priceCondition: "priceCondition"
          price:
            amount: 2.027123023002321833274663731572218239307403564453125
            units: "units"
          name: "name"
          priceType: "recurring discount"
          description: "description"
          discountType: "amount"
          id: "id"
          additionalData:
          - amount: 2.027123023002321833274663731572218239307403564453125
            units: "units"
          - amount: 2.027123023002321833274663731572218239307403564453125
            units: "units"
          recurringChargePeriod: "daily"
        - applicationDuration: 7
          unitOfMeasure:
            amount: 7.061401241503109105224211816675961017608642578125
            maximum: 9.301444243932575517419536481611430644989013671875
            units: "units"
            minimum: 3.61607674925191080461672754609026014804840087890625
          priceCondition: "priceCondition"
          price:
            amount: 2.027123023002321833274663731572218239307403564453125
            units: "units"
          name: "name"
          priceType: "recurring discount"
          description: "description"
          discountType: "amount"
          id: "id"
          additionalData:
          - amount: 2.027123023002321833274663731572218239307403564453125
            units: "units"
          - amount: 2.027123023002321833274663731572218239307403564453125
            units: "units"
          recurringChargePeriod: "daily"
        priceConsumer:
          role: "role"
          validFor:
            startDateTime: "2000-01-23T04:56:07.000+00:00"
            endDateTime: "2000-01-23T04:56:07.000+00:00"
          entityType: "entityType"
          name: "name"
          description: "description"
          id: "id"
          href: "href"
        id: "id"
        maxPrice:
          amount: 2.027123023002321833274663731572218239307403564453125
          units: "units"
        additionalData:
        - value: "value"
          key: "key"
        - value: "value"
          key: "key"
        recurringChargePeriod: "daily"
        isMandatory: true
        taxType: "taxType"
      offeringPenalties:
      - condition: "condition"
        validFor:
          startDateTime: "2000-01-23T04:56:07.000+00:00"
          endDateTime: "2000-01-23T04:56:07.000+00:00"
        name: "name"
        description: "description"
        id: "id"
        additionalData:
        - amount: 2.027123023002321833274663731572218239307403564453125
          units: "units"
        - amount: 2.027123023002321833274663731572218239307403564453125
          units: "units"
        penaltyValue:
          amount: 2.027123023002321833274663731572218239307403564453125
          units: "units"
      - condition: "condition"
        validFor:
          startDateTime: "2000-01-23T04:56:07.000+00:00"
          endDateTime: "2000-01-23T04:56:07.000+00:00"
        name: "name"
        description: "description"
        id: "id"
        additionalData:
        - amount: 2.027123023002321833274663731572218239307403564453125
          units: "units"
        - amount: 2.027123023002321833274663731572218239307403564453125
          units: "units"
        penaltyValue:
          amount: 2.027123023002321833274663731572218239307403564453125
          units: "units"
      offeringUrl: "offeringUrl"
      bundledProductOffering:
      - minCardinality: 0
        defaultCardinality: 1
        name: "name"
        id: "id"
        href: "href"
        maxCardinality: 6
      - minCardinality: 0
        defaultCardinality: 1
        name: "name"
        id: "id"
        href: "href"
        maxCardinality: 6
      name: "name"
      customerId: "customerId"
      correlationId: "correlationId"
      additionalData:
      - value: "value"
        key: "key"
      - value: "value"
        key: "key"
      category:
      - name: "name"
        id: "id"
        href: "href"
        subcategories: null
      - name: "name"
        id: "id"
        href: "href"
        subcategories: null
      lifeCycleStatus: "draft"
  PaginationInfoType:
    required:
    - "totalPages"
    - "totalResults"
    - "last"
    - "first"
    - "itemsPerPage"
    properties:      
      totalPages:
        type: "integer"
        description: "Número total de paginas"        
      totalResults:
        type: "integer"
        description: "Número total de registros en Base de datos (items)"
      last:
        type: "boolean"
        description: "Indica si estas en la ultima pagina"
      first:
        type: "boolean"
        description: "Indica si estas en la primera pagina"
      itemsPerPage:
        type: "integer"
        description: "Número de items por pagina"

  OfferingType:
    required:
    - "href"
    - "id"
    - "isBundle"
    - "name"    
    properties:
      id:
        type: "string"
        description: "Unique Identifier within the server for the offering reported"
      code:
        type: "string"
        description: "Code of Offer reported"
      catalogItemType:
        type: "string"
        description: "Represents the Catalog item type."        
      href:
        type: "string"
        description: "A resource URI pointing to the resource in the OB that stores\
          \ the detailed information of the offering"
      correlationId:
        type: "string"
        description: "Unique identifier for the offering within the client, used to\
          \ synchronize and map internal identifiers between server and client"
      name:
        type: "string"
        description: "A human readable offering name"
      description:
        type: "string"
        description: "A human readable offering short description"
      type:
        type: "string"
        description: "Indica el tipo de oferta a obtener \
                \ Puede tomar dos valores: elegibles ,  sugeridas"    
        enum:
        - "elegibles"
        - "sugeridas"  
      currentPlanRelationID:
        type: "string"
        description: "Id del plan actual de la billing offer"   
      productOfferingProductSpecID:
        type: "string"
        description: "Identificador de la relación entre el producto \ 
                    \ en sí (como WirelessMain) y sus especificaciones \ 
                    \ de producto (como Wireless)."               
      category:
        type: "array"
        description: "List of categories/subcategories allocated to the offering,\
          \ intended to allow segmentation A product offering may belong to more than\
          \ one category/subcategory. Each service may define its own categories and\
          \ levels in the tree"
        items:
          $ref: "#/definitions/CategoryTreeType"
      isPromotion:
        type: "boolean"
        description: "Indicates if the offering is a promotion"
      billingMethod:
        type: "string"
        description: "How this offered product is billed"
        enum:
        - "prepaid"
        - "postpaid"
        - "control"
        - "hybrid"
      channel:
        type: "array"
        description: "Defines the channels that can be used for selling the product\
          \ offering"
        items:
          $ref: "#/definitions/ChannelInfoType"
      frameworkAgreement:
        type: "string"
        description: "Unique identifier of the framework agreement associated to the\
          \ offering"
      customerId:
        type: "string"
        description: "Unique Identifier for the customer that is the specific target\
          \ to the offering"
      compatibleProducts:
        type: "array"
        description: "Indication of an existing product already acquired by the customer\
          \ that is compatible with the offering"
        items:
          $ref: "#/definitions/ProductInstanceRefType"
      isBundle:
        type: "boolean"
        description: "Indicates if the offering is a bundle of other offerings (true)\
          \ or it is a single offering for a bundle of multiple products (false)"
      offeringUrl:
        type: "string"
        description: "A URL that can provide additional information of the offer (e.g.:\
          \ weblink with a downloadable description brochure)"
      validFor:
        description: "The validity for the product in the catalog. If not enDate included\
          \ in the structure then no ending date for validity is defined"
        $ref: "#/definitions/TimePeriodType"
      bundledProductOffering:
        type: "array"
        description: "List of codes and URIs providing the resource address for the\
          \ individual offerings included in the bundle offering"
        items:
          $ref: "#/definitions/ComposingOfferingType"
      productSpecification:
        type: "array"
        description: "List of codes and URIs providing the resource address for the\
          \ products included in the offering. If the offer is for a single product\
          \ (isBundle set to false) then the list will have one single entry"
        items:
          $ref: "#/definitions/ComposingProductType"
      isDowngrade:
        type: "boolean"
        description: "When reporting the offerings that are intended for an specific\
          \ customer/account, this paremeter indicates if the offering is a downgrade\
          \ of any of the existing offerings subscribed by the customer/account"
      productOfferingPrice:
        type: "array"
        description: "List of price models available for the offering"
        items:
          $ref: "#/definitions/ComponentProdOfferPriceType"
      lifeCycleStatus:
        type: "string"
        description: "Status of the offering within the catalog"
        enum:
        - "draft"
        - "active"
        - "expired"
      offeringPenalties:
        type: "array"
        description: "List of penalties that can be applied to the product offering"
        items:
          $ref: "#/definitions/PenaltyType"
      upFront:
        description: "Objeto que indica si se debe cobrar por la instalación del serivicio fijo"
        $ref: "#/definitions/UpFrontType"        
      benefits:
        type: array
        description: "Beneficios asociados a la oferta"
        items:
          $ref: '#/definitions/BenefitType'      
      additionalData:
        type: "array"
        description: "Any additional metadata that may be needed to define the entity\
          \ (implementation and application specific). It is recommended not to make\
          \ use of this information element, this extension capability will be removed\
          \ from UNICA design guidelines"
        items:
          $ref: "#/definitions/KeyValueType"
    example:
      isBundle: true
      productSpecification:
      - minCardinality: 5
        periodDuration: "periodDuration"
        defaultCardinality: 2
        name: "name"
        id: "id"
        href: "href"
        refinedProduct:
          subProducts:
          - null
          - null
          productCharacteristics:
          - validFor:
              startDateTime: "2000-01-23T04:56:07.000+00:00"
              endDateTime: "2000-01-23T04:56:07.000+00:00"
            valueType: "integer"
            name: "name"
            description: "description"
            id: "id"
          - validFor:
              startDateTime: "2000-01-23T04:56:07.000+00:00"
              endDateTime: "2000-01-23T04:56:07.000+00:00"
            valueType: "integer"
            name: "name"
            description: "description"
            id: "id"
        productType: "mobile"
        maxCardinality: 5
        productPrice:
        - taxIncluded: true
          unitOfMeasure:
            amount: 7.061401241503109105224211816675961017608642578125
            maximum: 9.301444243932575517419536481611430644989013671875
            units: "units"
            minimum: 3.61607674925191080461672754609026014804840087890625
          validFor:
            startDateTime: "2000-01-23T04:56:07.000+00:00"
            endDateTime: "2000-01-23T04:56:07.000+00:00"
          priceType: "recurring"
          description: "description"
          pricedComponents:
          - value: "value"
            key: "key"
          - value: "value"
            key: "key"
          taxRate: 4.1456080298839363962315474054776132106781005859375
          priceLocation:
          - "priceLocation"
          - "priceLocation"
          price:
            amount: 2.027123023002321833274663731572218239307403564453125
            units: "units"
          minPrice:
            amount: 2.027123023002321833274663731572218239307403564453125
            units: "units"
          name: "name"
          productOfferPriceAlteration:
          - applicationDuration: 7
            unitOfMeasure:
              amount: 7.061401241503109105224211816675961017608642578125
              maximum: 9.301444243932575517419536481611430644989013671875
              units: "units"
              minimum: 3.61607674925191080461672754609026014804840087890625
            priceCondition: "priceCondition"
            price:
              amount: 2.027123023002321833274663731572218239307403564453125
              units: "units"
            name: "name"
            priceType: "recurring discount"
            description: "description"
            discountType: "amount"
            id: "id"
            additionalData:
            - amount: 2.027123023002321833274663731572218239307403564453125
              units: "units"
            - amount: 2.027123023002321833274663731572218239307403564453125
              units: "units"
            recurringChargePeriod: "daily"
          - applicationDuration: 7
            unitOfMeasure:
              amount: 7.061401241503109105224211816675961017608642578125
              maximum: 9.301444243932575517419536481611430644989013671875
              units: "units"
              minimum: 3.61607674925191080461672754609026014804840087890625
            priceCondition: "priceCondition"
            price:
              amount: 2.027123023002321833274663731572218239307403564453125
              units: "units"
            name: "name"
            priceType: "recurring discount"
            description: "description"
            discountType: "amount"
            id: "id"
            additionalData:
            - amount: 2.027123023002321833274663731572218239307403564453125
              units: "units"
            - amount: 2.027123023002321833274663731572218239307403564453125
              units: "units"
            recurringChargePeriod: "daily"
          priceConsumer:
            role: "role"
            validFor:
              startDateTime: "2000-01-23T04:56:07.000+00:00"
              endDateTime: "2000-01-23T04:56:07.000+00:00"
            entityType: "entityType"
            name: "name"
            description: "description"
            id: "id"
            href: "href"
          id: "id"
          maxPrice:
            amount: 2.027123023002321833274663731572218239307403564453125
            units: "units"
          additionalData:
          - value: "value"
            key: "key"
          - value: "value"
            key: "key"
          recurringChargePeriod: "daily"
          isMandatory: true
          taxType: "taxType"
        - taxIncluded: true
          unitOfMeasure:
            amount: 7.061401241503109105224211816675961017608642578125
            maximum: 9.301444243932575517419536481611430644989013671875
            units: "units"
            minimum: 3.61607674925191080461672754609026014804840087890625
          validFor:
            startDateTime: "2000-01-23T04:56:07.000+00:00"
            endDateTime: "2000-01-23T04:56:07.000+00:00"
          priceType: "recurring"
          description: "description"
          pricedComponents:
          - value: "value"
            key: "key"
          - value: "value"
            key: "key"
          taxRate: 4.1456080298839363962315474054776132106781005859375
          priceLocation:
          - "priceLocation"
          - "priceLocation"
          price:
            amount: 2.027123023002321833274663731572218239307403564453125
            units: "units"
          minPrice:
            amount: 2.027123023002321833274663731572218239307403564453125
            units: "units"
          name: "name"
          productOfferPriceAlteration:
          - applicationDuration: 7
            unitOfMeasure:
              amount: 7.061401241503109105224211816675961017608642578125
              maximum: 9.301444243932575517419536481611430644989013671875
              units: "units"
              minimum: 3.61607674925191080461672754609026014804840087890625
            priceCondition: "priceCondition"
            price:
              amount: 2.027123023002321833274663731572218239307403564453125
              units: "units"
            name: "name"
            priceType: "recurring discount"
            description: "description"
            discountType: "amount"
            id: "id"
            additionalData:
            - amount: 2.027123023002321833274663731572218239307403564453125
              units: "units"
            - amount: 2.027123023002321833274663731572218239307403564453125
              units: "units"
            recurringChargePeriod: "daily"
          - applicationDuration: 7
            unitOfMeasure:
              amount: 7.061401241503109105224211816675961017608642578125
              maximum: 9.301444243932575517419536481611430644989013671875
              units: "units"
              minimum: 3.61607674925191080461672754609026014804840087890625
            priceCondition: "priceCondition"
            price:
              amount: 2.027123023002321833274663731572218239307403564453125
              units: "units"
            name: "name"
            priceType: "recurring discount"
            description: "description"
            discountType: "amount"
            id: "id"
            additionalData:
            - amount: 2.027123023002321833274663731572218239307403564453125
              units: "units"
            - amount: 2.027123023002321833274663731572218239307403564453125
              units: "units"
            recurringChargePeriod: "daily"
          priceConsumer:
            role: "role"
            validFor:
              startDateTime: "2000-01-23T04:56:07.000+00:00"
              endDateTime: "2000-01-23T04:56:07.000+00:00"
            entityType: "entityType"
            name: "name"
            description: "description"
            id: "id"
            href: "href"
          id: "id"
          maxPrice:
            amount: 2.027123023002321833274663731572218239307403564453125
            units: "units"
          additionalData:
          - value: "value"
            key: "key"
          - value: "value"
            key: "key"
          recurringChargePeriod: "daily"
          isMandatory: true
          taxType: "taxType"
        tags:
        - "tags"
        - "tags"
      - minCardinality: 5
        periodDuration: "periodDuration"
        defaultCardinality: 2
        name: "name"
        id: "id"
        href: "href"
        refinedProduct:
          subProducts:
          - null
          - null
          productCharacteristics:
          - validFor:
              startDateTime: "2000-01-23T04:56:07.000+00:00"
              endDateTime: "2000-01-23T04:56:07.000+00:00"
            valueType: "integer"
            name: "name"
            description: "description"
            id: "id"
          - validFor:
              startDateTime: "2000-01-23T04:56:07.000+00:00"
              endDateTime: "2000-01-23T04:56:07.000+00:00"
            valueType: "integer"
            name: "name"
            description: "description"
            id: "id"
        productType: "mobile"
        maxCardinality: 5
        productPrice:
        - taxIncluded: true
          unitOfMeasure:
            amount: 7.061401241503109105224211816675961017608642578125
            maximum: 9.301444243932575517419536481611430644989013671875
            units: "units"
            minimum: 3.61607674925191080461672754609026014804840087890625
          validFor:
            startDateTime: "2000-01-23T04:56:07.000+00:00"
            endDateTime: "2000-01-23T04:56:07.000+00:00"
          priceType: "recurring"
          description: "description"
          pricedComponents:
          - value: "value"
            key: "key"
          - value: "value"
            key: "key"
          taxRate: 4.1456080298839363962315474054776132106781005859375
          priceLocation:
          - "priceLocation"
          - "priceLocation"
          price:
            amount: 2.027123023002321833274663731572218239307403564453125
            units: "units"
          minPrice:
            amount: 2.027123023002321833274663731572218239307403564453125
            units: "units"
          name: "name"
          productOfferPriceAlteration:
          - applicationDuration: 7
            unitOfMeasure:
              amount: 7.061401241503109105224211816675961017608642578125
              maximum: 9.301444243932575517419536481611430644989013671875
              units: "units"
              minimum: 3.61607674925191080461672754609026014804840087890625
            priceCondition: "priceCondition"
            price:
              amount: 2.027123023002321833274663731572218239307403564453125
              units: "units"
            name: "name"
            priceType: "recurring discount"
            description: "description"
            discountType: "amount"
            id: "id"
            additionalData:
            - amount: 2.027123023002321833274663731572218239307403564453125
              units: "units"
            - amount: 2.027123023002321833274663731572218239307403564453125
              units: "units"
            recurringChargePeriod: "daily"
          - applicationDuration: 7
            unitOfMeasure:
              amount: 7.061401241503109105224211816675961017608642578125
              maximum: 9.301444243932575517419536481611430644989013671875
              units: "units"
              minimum: 3.61607674925191080461672754609026014804840087890625
            priceCondition: "priceCondition"
            price:
              amount: 2.027123023002321833274663731572218239307403564453125
              units: "units"
            name: "name"
            priceType: "recurring discount"
            description: "description"
            discountType: "amount"
            id: "id"
            additionalData:
            - amount: 2.027123023002321833274663731572218239307403564453125
              units: "units"
            - amount: 2.027123023002321833274663731572218239307403564453125
              units: "units"
            recurringChargePeriod: "daily"
          priceConsumer:
            role: "role"
            validFor:
              startDateTime: "2000-01-23T04:56:07.000+00:00"
              endDateTime: "2000-01-23T04:56:07.000+00:00"
            entityType: "entityType"
            name: "name"
            description: "description"
            id: "id"
            href: "href"
          id: "id"
          maxPrice:
            amount: 2.027123023002321833274663731572218239307403564453125
            units: "units"
          additionalData:
          - value: "value"
            key: "key"
          - value: "value"
            key: "key"
          recurringChargePeriod: "daily"
          isMandatory: true
          taxType: "taxType"
        - taxIncluded: true
          unitOfMeasure:
            amount: 7.061401241503109105224211816675961017608642578125
            maximum: 9.301444243932575517419536481611430644989013671875
            units: "units"
            minimum: 3.61607674925191080461672754609026014804840087890625
          validFor:
            startDateTime: "2000-01-23T04:56:07.000+00:00"
            endDateTime: "2000-01-23T04:56:07.000+00:00"
          priceType: "recurring"
          description: "description"
          pricedComponents:
          - value: "value"
            key: "key"
          - value: "value"
            key: "key"
          taxRate: 4.1456080298839363962315474054776132106781005859375
          priceLocation:
          - "priceLocation"
          - "priceLocation"
          price:
            amount: 2.027123023002321833274663731572218239307403564453125
            units: "units"
          minPrice:
            amount: 2.027123023002321833274663731572218239307403564453125
            units: "units"
          name: "name"
          productOfferPriceAlteration:
          - applicationDuration: 7
            unitOfMeasure:
              amount: 7.061401241503109105224211816675961017608642578125
              maximum: 9.301444243932575517419536481611430644989013671875
              units: "units"
              minimum: 3.61607674925191080461672754609026014804840087890625
            priceCondition: "priceCondition"
            price:
              amount: 2.027123023002321833274663731572218239307403564453125
              units: "units"
            name: "name"
            priceType: "recurring discount"
            description: "description"
            discountType: "amount"
            id: "id"
            additionalData:
            - amount: 2.027123023002321833274663731572218239307403564453125
              units: "units"
            - amount: 2.027123023002321833274663731572218239307403564453125
              units: "units"
            recurringChargePeriod: "daily"
          - applicationDuration: 7
            unitOfMeasure:
              amount: 7.061401241503109105224211816675961017608642578125
              maximum: 9.301444243932575517419536481611430644989013671875
              units: "units"
              minimum: 3.61607674925191080461672754609026014804840087890625
            priceCondition: "priceCondition"
            price:
              amount: 2.027123023002321833274663731572218239307403564453125
              units: "units"
            name: "name"
            priceType: "recurring discount"
            description: "description"
            discountType: "amount"
            id: "id"
            additionalData:
            - amount: 2.027123023002321833274663731572218239307403564453125
              units: "units"
            - amount: 2.027123023002321833274663731572218239307403564453125
              units: "units"
            recurringChargePeriod: "daily"
          priceConsumer:
            role: "role"
            validFor:
              startDateTime: "2000-01-23T04:56:07.000+00:00"
              endDateTime: "2000-01-23T04:56:07.000+00:00"
            entityType: "entityType"
            name: "name"
            description: "description"
            id: "id"
            href: "href"
          id: "id"
          maxPrice:
            amount: 2.027123023002321833274663731572218239307403564453125
            units: "units"
          additionalData:
          - value: "value"
            key: "key"
          - value: "value"
            key: "key"
          recurringChargePeriod: "daily"
          isMandatory: true
          taxType: "taxType"
        tags:
        - "tags"
        - "tags"
      isPromotion: true
[...]
